.title {
	width: 100%;
}

.indexpage,
.markdown a {
	width: fit-content;
	text-decoration: underline;
	color: var(--text-secondary);
	text-underline-offset: 3px;
	text-decoration-color: rgba(255, 255, 255, 0.13);
}

.markdown a {
	color: var(--link);
}

.index {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.empty {
	font-style: italic;
	color: var(--text-secondary);
}

.markdown {
	display: contents;
	word-break: break-word;
}

p,
a,
li,
blockquote {
	font-size: 0.875rem;
}

blockquote {
	border-left: 3px solid var(--background-tertiary);
	margin-left: 0;
	margin-right: 0;
	padding: 0.5rem 0.625rem;
}
blockquote p {
	display: inline-block;
}

li::marker {
	color: var(--bullet);
}

img {
	width: 100%;
	object-fit: cover;
}

pre {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}
