.breadcrumbs {
	display: flex;
	user-select: none;
	/* gap: 0.267rem; */
	align-items: center;
	scrollbar-width: none;
	overflow-x: scroll;
	font-size: 0.867rem;
	color: var(--text-secondary);
}

.breadcrumb {
	display: inline-flex;
	cursor: pointer;
	/* border-radius: 0.375rem; */
	border-radius: 0.267rem;
	/* padding: 0.125rem 0.375rem; */
	padding: 0.133rem 0.267rem;
	white-space: nowrap;
	line-height: initial;
}

.breadcrumb:hover {
	background-color: var(--border-secondary);
	color: var(--text-primary);
}

.divider {
	color: var(--background-quaternary);
	padding: 2px 1px;
}
