.breadcrumbs {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	overflow-x: auto;
	scrollbar-width: none;
}

.breadcrumb {
	cursor: pointer;
	border-radius: 0.375rem;
	padding: 0.125rem 0.375rem;
	font-size: 0.875rem;
}

.breadcrumb:hover {
	background-color: var(--background-tertiary);
}
