.page {
	display: flex;
	justify-content: center;
	margin-bottom: 4rem;
}

.content {
	max-width: 47.5rem;
	width: 100%;
	padding: 1rem 2rem;
}

.content pre {
	background-color: #262626;
	padding: 1rem;
	border-radius: 0.5rem;
	overflow: scroll;
}
