.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	vertical-align: center;
	margin-top: auto;
	padding: 1rem;
	position: sticky;
	bottom: 0;
	background-color: var(--background-secondary);
}

.text {
	font-size: 0.75rem;
	color: var(--text-secondary);
	margin: 0;
}
