.footer {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	vertical-align: center;
	padding-top: 1rem;
}

.text {
	font-size: 0.75rem;
	color: var(--text-secondary);
	margin: 0;
}
