.header {
	display: flex;
	flex-direction: row;
	height: 2.5rem;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	background-color: var(--background-primary);
	z-index: 3;
}
