.sidebar {
	display: none;
}

@media (min-width: 768px) {
	.sidebar {
		display: flex;
		flex-direction: column;
		min-width: 18rem;
		max-width: 18rem;
		width: 100%;
		height: 100%;
		padding: 1rem;
		background-color: var(--background-secondary);
		overflow: scroll;
		border-right: 1px solid var(--border);
	}
}
