.toolbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	background-color: var(--background-primary);
	height: 100%;
	width: 2.5rem;
	height: 2.5rem;
	flex-shrink: 0;
}

.toolbar button {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.toolbar svg {
	width: 1.15rem;
}
