.tree {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	width: 100%;
	padding: 1rem;
}

.leaf {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 0.5rem;
	padding: 0.25rem 0;
	cursor: pointer;
	user-select: none;
	color: var(--text-secondary);
}

.title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 0.5rem;
}

.leaf:hover {
	background-color: var(--background-tertiary);
}

.chevron {
	/*position: absolute;*/
	color: #5a5a5a;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	padding-left: 0.5rem;
}

.line {
	--offset: 0;
	display: flex;
	flex-direction: column;
	position: relative;
	gap: inherit;
}

.line:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: var(--offset);
	width: 1px;
	height: 100%;
	background-color: var(--border-primary);
}
