#app {
	display: flex;
	height: 100dvh;
	width: 100%;
}

:root {
	font-family: system-ui, Helvetica, Arial, sans-serif;
	font-optical-sizing: auto;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: var(--text-primary);
	background-color: var(--background-primary);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--background-primary: #ffffff;
	--background-secondary: #f6f6f6;
	--background-tertiary: #e3e3e3;
	--border-primary: #c8c8c8;
	--border-secondary: #e0e0e0;
	--text-primary: #222222;
	--text-secondary: #5c5c5c;
	--link:  #5c82f5;
	--bullet: #ababab;
    --chevron: #b7b7b7;
    --active-breadcrumb: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-primary: #1e1e1e;
        --background-secondary: #262626;
        --background-tertiary: #363636;
        --border-primary: #4f4f4f;
        --border-secondary: #363636;
        --text-primary: #dadada;
        --text-secondary: #b0b0b0;
        --link: #8aacf9;
        --bullet: #666666;
        --chevron: #5a5a5a;
        --active-breadcrumb: white;
    }
}

body {
	margin: 0;
	height: 100dvh;
}

a,
button {
	all: unset;
}

a {
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

.activeNote {
	background-color: var(--background-tertiary);
	color: var(--text-primary);
}

.activeBreadcrumb {
	color: var(--active-breadcrumb);
	font-weight: 500;
}

.katex span:not(.mtight) {
	font-size: 0.875rem;
}
