.note {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
	padding: 1rem 0;
}

.content {
	max-width: 60rem;
	width: 100%;
	word-break: break-word;
	white-space: pre-wrap;
	padding: 0 2rem;
}

.content pre {
	background-color: #262626;
	padding: 1rem;
	border-radius: 0.5rem;
	overflow: scroll;
}
